html, body {
  height: 100%;
  color: #f3f3f3;
  font-size: 16px;
  line-height: 24px;
  font-family: 'Quicksand', sans-serif;
  background-color: #f3f3f3; }

.bg-cover-image {
  background-position: center;
  background-image: url("../assets/images/backgrounds/car.jpg");
  background-size: cover;
  height: 600px; }

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%; }
  @media (max-width: 991px) {
    .overlay {
      padding: 2rem;
      text-align: center;
      padding-top: 4rem; } }
  @media (min-width: 992px) {
    .overlay {
      padding: 8rem; } }

.overlay-text {
  background-color: rgba(0, 0, 0, 0.5); }

.section-style, .background-dark, .background-light, .background-gray {
  padding: 7rem 0; }

.background-dark {
  background-color: #1c2931;
  color: #f3f3f3; }

.background-light {
  background-color: #f3f3f3;
  color: #3f3f3f; }

.background-gray {
  background-color: #ececec;
  color: #3f3f3f; }

.heading {
  text-transform: capitalize;
  padding-bottom: 20px; }

.sub-header {
  font-weight: bold; }

.horizontal-divider {
  border-top: 3px solid;
  width: 55px;
  padding: 20px 0px; }

.horizontal-divider-thin {
  border-top: 1px solid;
  width: 100%; }

.info-bar-style {
  background-color: #1c2931;
  min-height: 55px;
  padding: 15px; }

.info {
  display: inline-block; }
  .info a {
    color: #f3f3f3; }

.fa {
  padding-right: 10px; }

.icon {
  color: #f3f3f3;
  text-align: center; }

.cursor-pointer {
  cursor: pointer; }

.divider::after {
  content: "|";
  padding: 15px; }

.social-media-icon {
  color: #f3f3f3; }
  .social-media-icon:hover {
    color: #d3d3d3;
    text-decoration: none; }

.navbar {
  padding: 20px; }
  .navbar .navbar-nav {
    margin-bottom: -3px; }
  .navbar .nav-item {
    margin-right: 15px; }
    .navbar .nav-item .active, .navbar .nav-item a:hover {
      border-bottom: 3px solid #0099CC; }
  .navbar .nav-link, .navbar .navbar-brand {
    font-weight: bold; }
  .navbar .navbar-brand {
    text-align: center; }

.button-style, .btn.btn-light, .btn.btn-outline-light, .btn.btn-dark, .btn.btn-outline-dark {
  border-radius: 0px;
  font-size: 1.1rem;
  padding: .6rem 2rem;
  cursor: pointer; }

.btn.btn-light {
  color: #f3f3f3;
  border-color: #f3f3f3; }
  .btn.btn-light:hover {
    color: #1c2931;
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .btn.btn-light:not([disabled]):not(.disabled):active {
    color: #1c2931;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    box-shadow: 0; }

.btn.btn-outline-light {
  color: #f3f3f3;
  border-color: #f3f3f3;
  border-width: 2px; }
  .btn.btn-outline-light:hover {
    color: #1c2931;
    background-color: #f3f3f3;
    border-color: #f3f3f3; }
  .btn.btn-outline-light:not([disabled]):not(.disabled):active {
    color: #1c2931;
    background-color: #f3f3f3;
    border-color: #f3f3f3;
    box-shadow: 0; }

.btn.btn-dark {
  color: #f3f3f3;
  border-color: #0099CC;
  background-color: #0099CC; }
  .btn.btn-dark:hover {
    background-color: #248fb3;
    border-color: #f3f3f3; }
  .btn.btn-dark:not([disabled]):not(.disabled):active {
    color: #f3f3f3;
    background-color: #248fb3;
    border-color: #f3f3f3;
    box-shadow: 0; }

.btn.btn-outline-dark {
  color: #0099CC;
  border-color: #0099CC;
  border-width: 2px; }
  .btn.btn-outline-dark:hover {
    color: #f3f3f3;
    background-color: #0099CC;
    border-color: #f3f3f3; }
  .btn.btn-outline-dark:not([disabled]):not(.disabled):active {
    color: #f3f3f3;
    background-color: #248fb3;
    border-color: #f3f3f3;
    box-shadow: 0; }

.input-field {
  border: 1px solid #1c2931;
  border-radius: 0px;
  padding: 1rem; }

.fa-spacing {
  padding-left: 28px; }

.contact-line {
  padding-top: 1rem; }

.contact-link a {
  color: #f3f3f3; }

input.has-error:invalid, textarea.has-error:invalid {
  border: 2px solid red; }

input:valid, textarea:valid {
  border: 2px solid black; }

@media (max-width: 991px) {
  .adjacent-column-lg {
    margin-top: 3rem; } }

@media (max-width: 767px) {
  .adjacent-column-md {
    margin-top: 3rem; } }

#map {
  height: 100%;
  min-height: 350px; }

/*# sourceMappingURL=styles.css.map */
