<div class="background-dark">
    <div class="container">

        <div class="pb-4">
            <div class="row">
                <div class="col-md-12">
                    <h1>Bay Motors, Inc.</h1>
                </div>
            </div>

            <div class="row contact-line">

                <div class="col-md-6 col-lg-5 contact-link">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a target="_blank" rel="noopener" href="https://goo.gl/maps/NmEWUqU5R2u"> 6200 Belair Rd, Baltimore, MD 21206</a>
                </div>

                <div class="col-md-6 contact-link">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <a href="mailto:sales@baymotorsmd.com">sales@baymotorsmd.com</a>

                    <span class="contact-link float-right">

                        <a class="social-media-icon" target="_blank" rel="noopener" href="https://www.facebook.com/Baymotorsmd">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a class="social-media-icon" target="_blank" rel="noopener" href="https://twitter.com/BaymotorsMD">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </span>

                </div>

            </div>

            <hr class="horizontal-divider-thin">

        </div>

        <div class="row">

            <div class="col-md-6 col-lg-5">
                <h3>Sales</h3>
                <div class="row contact-line">

                    <div class="col-1">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>

                    <div class="col-11">
                        <div>Monday-Saturday: 8:00AM - 8:00PM</div>
                        <div>Closed Sunday</div>
                    </div>
                </div>

                <div class="row contact-line">

                    <div class="col-1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>

                    <div class="col-11">
                        <div>Phone: 410-254-1666</div>
                        <div>Fax: 410-426-3461</div>
                    </div>
                </div>

            </div>

            <div class="col-md-6 col-lg-5 adjacent-column-md">
                <h3>Services Department</h3>
                <div class="row contact-line">

                    <div class="col-1">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                    </div>

                    <div class="col-11">
                        <div>Monday-Friday: 8:00AM - 5:00PM</div>
                        <div>Saturday: 8:00AM - 2:00PM</div>
                        <div>Closed Sunday</div>
                    </div>
                </div>

                <div class="row contact-line">

                    <div class="col-1">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>

                    <div class="col-11">
                        <div>Phone: 410-254-8200</div>
                        <div>Fax: 410-426-3461</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>